<h1>{{projectCtrl.project.name}}</h1>

<dl>
  <dt>Description</dt>
  <dd>{{projectCtrl.project.description}}</dd>

  <dt>Deadline</dt>
  <dd>{{projectCtrl.project.deadline}}</dd>

  <dt>Goal</dt>
  <dd>{{projectCtrl.project.goal}}</dd>

  <dt>Pledges</dt>
  <ol>
    <li ng-repeat="pledge in projectCtrl.pledges track by $index">
      {{pledge.amount}} -- {{pledge.comment}}
    </li>
  </ol>
  <button ng-click="projectCtrl.showPledgeForm()">
    Make a Pledge
  </button>
</dl>

<button ng-click="projectCtrl.edit()">
  Edit Project
</button>
<a ui-sref="root.homepage.show">Home</a>

<form ng-show="projectCtrl.isPledgeFormVisible">
  <div class='xng-form-row'>
    <label for="amount">Amount</label>
    <input type="number" id="amount" ng-model="projectCtrl.newPledge.amount"></input>
  </div>
  <div class='xng-form-row'>
    <label for="comment">Comment</label>
    <textarea type="text" id="comment" ng-model="projectCtrl.newPledge.comment">
    </textarea>
  </div>
  <div class='xng-form-row'>
    <button ng-click="projectCtrl.submitPledge()">
      Submit
    </button>
  </div>
  <div class='xng-form-row'>
    <button ng-click="projectCtrl.cancelPledge()">
      Cancel
    </button>
  </div>
</form>
